<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Choose your own adventure</title>
    </head>
    <body>
        <main>
            <h1>{{.Title}}</h1>
            {{range .Story}}
                <p>{{.}}</p>
            {{end}}
            <h3>What would you like to do next?</h3>
            {{range .Options}}
                <a href={{.Arc}}><p>{{.Text}}</p></a>
            {{end}}
            <a href="intro"><p>Return back to intro</p></a>
        </main>
    </body>
</html>